#sliderContainer{
border-bottom:5px solid #999;
border-top:5px solid #999;
height:400px;
margin:0 auto;
position:relative;
width:100%;
}
#sliderContainer img{
height:400px;
width:100%;
}
.slideContent{
background:url("../images/contentBg.png") repeat scroll 0 0 transparent;
bottom:0px;
padding:10px;
position:absolute;
right:0px;
width:90%;
}
.slide h3{
color:#FFF;
font:26px/1em 'Rokkitt', serif;
margin:0 0 5px 0;
}
.slide p{
color:#FFF;
font-size:14px;
margin:0;
}
.jFlowSlideContainer{
overflow:hidden;
}
.jFlowSlideContainer a{
color:#F90;
font-style:italic;
text-decoration:none;
}
.jFlowSlideContainer a:hover{
text-decoration:none;
}
.jFlowSlideContainer a:focus{
position:relative;
top:1px;
}
.jFlowNext{
background:url("../images/arrows.png") no-repeat scroll 0 -35px transparent;
cursor:pointer;
height:130px;
position:absolute;
right:-50px;
top:30%;
width:50px;
}
.jFlowPrev{
background:url("../images/arrows.png") no-repeat scroll -84px -35px transparent;
cursor:pointer;
height:130px;
left:-50px;
position:absolute;
top:30%;
width:50px;
}
.jFlowPrev:hover{
background-position:-84px -235px;
}
.jFlowNext:hover{
background-position:0px -235px;
}
/* controller pagination */

#myController{
position:absolute;
right:5px;
top:5px;
}
.jFlowControl{
background:url("../images/bullet.png") no-repeat scroll 0px 0px transparent;
float:left;
height:15px;
width:15px;
}
.jFlowControl:hover{
background-position:-32px 0px;
cursor:pointer;
}
.jFlowSelected, .jFlowSelected:hover{
background-position:-15px 0px;
}
