@import url(http://fonts.googleapis.com/css?family=Uncial+Antiqua);
@import url(http://fonts.googleapis.com/css?family=Condiment);
::selection{
color:#fff;
text-shadow:0 0 5px #fff,             
            0 0 10px #fff,            
            0 0 15px #fff,             
            0 0 20px #4A2EFF,
            0 0 30px #4A2EFF,       
            0 0 40px #4A2EFF,             
            0 0 50px #4A2EFF,             
            0 0 75px #4A2EFF;
letter-spacing:5px;
}
::-moz-selection { 
 color:#fff;
text-shadow:0 0 5px #fff,             
            0 0 10px #fff,            
            0 0 15px #fff,             
            0 0 20px #4A2EFF,
            0 0 30px #4A2EFF,       
            0 0 40px #4A2EFF,             
            0 0 50px #4A2EFF,             
            0 0 75px #4A2EFF;
letter-spacing:5px;
}

html{
background-color:#F5F5F5;
background:url(http://mjplay-v.16mb.com/imagenes/fondos/wall4.png);
-webkit-font-smoothing:antialiased;
   -moz-font-smoothing:antialiased;
     -o-font-smoothing:antialiased;
        font-smoothing:antialiased;
height:100%;        
margin:0 auto;
overflow-y:scroll;
padding:0;
width:100%;
}
body{
height:1050px;
margin:0 auto;
padding:0;
width:90%;
}
form{
background:#111;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*box-shadow*/
-webkit-box-shadow:0 5px 10px 5px rgba(255,255,255,0.5);
   -moz-box-shadow:0 5px 10px 5px rgba(255,255,255,0.5);
        box-shadow:0 5px 10px 5px rgba(255,255,255,0.5);          
border:1px solid #191919;
font-family:'Uncial Antiqua', cursive;
height:400px;
margin:0px auto;
overflow:hidden;
position:relative;
width:300px;     
}
form a{
	vertical-align:top
}
form:after{
/*linear-gradient*/
background:-webkit-gradient(linear,left top,right top,from(#111),color-stop(#444,0.25),color-stop(#b6b6b8,0.5),color-stop(#444,0.75),to(#111));
background:-webkit-linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
background:   -moz-linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
background:     -o-linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
background:        linear-gradient(left, #111, #444, #b6b6b8, #444, #111);  
content:"";
display:block;
height:1px;
left:20%;
position:absolute;
top:0;
width:100px;
}
form:before{
/*border-radius*/
-webkit-border-radius:50%;
   -moz-border-radius:50%;
        border-radius:50%;  
/*box-shadow*/
-webkit-box-shadow:0 0 6px 4px #fff;
   -moz-box-shadow:0 0 6px 4px #fff;
        box-shadow:0 0 6px 4px #fff;        
content:"";
display:block;
height:5px;
left:34%;
position:absolute;
top:-7px;
width:8px;
}
form h2{
border-bottom:1px solid rgba(0,0,0,1);
color:rgba(255,255,255,0.3);
font-size:18px;
padding:15px 0;
position:relative;
text-align:center;
text-shadow:0 1px 0 black;
}
form h2:after{
/*linear-gradient*/
background:-webkit-gradient(linear,4.72% 103.96%,95.28% -3.96%,from(rgba(255,255,255,0.15)),to(rgba(0,0,0,0)));
background:-webkit-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
background:   -moz-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
background:     -o-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
background:        linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));  
content:"";
display:block;
height:100px;
left:50px;
pointer-events:none;
position:absolute;
/*transform*/
-webkit-transform:rotate(70deg);
   -moz-transform:rotate(70deg);
    -ms-transform:rotate(70deg);
     -o-transform:rotate(70deg);
        transform:rotate(70deg);
top:0;
width:250px;
}
form h3{
color:#fff;
font-size:18px;
padding-left: 20px;
}
img{
border:solid #000 0px;
margin:0;
padding:0;
}
#circlep ,
#circlet,
#circlef{   
/*border-radius*/
-webkit-border-radius:50px;
   -moz-border-radius:50px;
        border-radius:50px;   
cursor:pointer;
height:50px;
margin-left:20px;
padding: 0;
position:absolute;
top:190px;    
width:50px;      
z-index:999;
}
#circlef{
background:url(/images/fb_1.png) center center no-repeat, #F5F5F5 top left repeat;
margin-top:-30px;
position: absolute;
top:190px;
}
#circlet{
background:url(/images/twitter_1.png) center center no-repeat, #F5F5F5 top left repeat;
margin-top:40px;
}
#circlep{
background:url(/images/google_plus.png) center center no-repeat, #F5F5F5 top left repeat;
margin-top:110px;
}
#Mone{
background:#222;
height:70px;
margin:0px auto;
padding:0;
position:relative;
width:100%;
z-index:0;
}
#Mone:before{
border-left:32px solid transparent;
border-top:40px solid #222;
content:"";
left:-31px;
margin:0;
position:absolute;
top:30px;
z-index:0;
}
#Mone:after{
border-right:32px solid transparent;
border-top:40px solid #222;
bottom:0px;
content:"";
margin:0;
position:absolute;
right:-31px;
top:30px;
z-index:0;
}
#Monebar{
background:#222;
height:30px;
margin:0px auto;
padding:0;
position:absolute;
width:100%;
z-index:0;
}
#Monebar:before{
border-left:32px solid #222;
border-top:31px solid #222;
content:"";
left:-31px;
margin:0;
position:absolute;
top:0px;
z-index:0;
}
#Monebar:after{
border-right:32px solid #222;
border-top:31px solid #222;
bottom:0px;
content:"";
margin:0;
position:absolute;
right:-31px;
top:0px;
z-index:0;
}
#MoneEnRe{
float:right;
height:90%;
margin-top:-58px;
position:relative;
right:18px;
top:0px;
vertical-align:top;
width:210px;
}
#MoneEnRe #Entra{
background:#0E4CD2;
height:40px;
margin:12px 0;
position:relative;
width:98px;
z-index:0;
}
#MoneEnRe #Entra:before{
border-bottom:20px solid transparent;
border-right:20px solid #0E4CD2;
border-top:20px solid transparent;
content:"";
left:-20px;
margin:0;
position:absolute;
top:0px;
z-index:0;
}
#MoneEnRe #Entra a{
color:#fff;
font-family:'Uncial Antiqua', cursive;
font-size:22px;
left:-8px;
margin:0;
position:relative;
text-decoration:none;
top:5px;
}
#MoneEnRe #Entra:hover{
color:#fff;
text-shadow:0 0 5px #fff,
     0 0 10px #fff, 
     0 0 15px #fff,
     0 0 20px #1078FF,
     0 0 30px #1078FF,  
     0 0 40px #1078FF,  
     0 0 50px #1078FF,   
     0 0 75px #1078FF;
}
#MoneEnRe #Nuevo{
background:#D20E18;
height:40px;
margin:-52px 110px;
position:relative;
width:98px;
z-index:0;
}
#MoneEnRe #Nuevo:after{
border-bottom:20px solid transparent;
border-left:20px solid #D20E18;
border-top:20px solid transparent;
content:"";
margin:0;
position:absolute;
right:-20px;
top:0px;
z-index:1;
}
#MoneEnRe #Nuevo a{
color:#fff;
font-family:'Uncial Antiqua', cursive;
font-size:22px;
left:8px;
margin:0;
position:relative;
text-decoration:none;
top:5px;
}
#MoneEnRe #Nuevo:hover{
color:#fff;
text-shadow:0 0 5px #fff,
            0 0 10px #fff, 
            0 0 15px #fff,
            0 0 20px #1078FF,
            0 0 30px #1078FF,
            0 0 40px #1078FF, 
            0 0 50px #1078FF,  
            0 0 75px #1078FF;
}
#Mpl,
#Mtw,
#Mfb{
color:white;
cursor:pointer;
font-family:'Uncial Antiqua', cursive;
font-size:13px;
left:20px;
margin: 0;
padding: 0;
position:absolute;
text-decoration:none;
top: 0;
}
#Mpl:before,
#Mtw:before,
#Mfb:before{
border-left:solid 30px transparent;
border-right:solid 30px transparent;
border-top:none;
content:"";
height:0;
margin: 0;
padding: 0;
position:absolute;
top: 0;
width:200px;
}
#Mpl:after,
#Mtw:after,
#Mfb:after{
border-left:solid 30px transparent;
border-right:solid 30px transparent;
border-top:solid 30px #0184ff;
content:"";
height:0;
margin: 0;
padding: 0;
position:absolute;
top:30px;
width:200px;
}
#Mfb{
margin-top:155px;
}
#Mfb:before{
border-bottom:solid 30px #0184ff;
}
#Mfb:after{
border-top:solid 30px #0184ff;
}
#Mtw{
top:225px;
}
#Mtw:before{
border-bottom:solid 30px #42BAD7;
}
#Mtw:after{
border-top:solid 30px #42BAD7;
}
#Mpl{
top:295px;
}
#Mpl:before{
border-bottom:solid 30px #D62A2A;
}
#Mpl:after{
border-top:solid 30px #D62A2A;
}
#Mpl label,
#Mtw label,
#Mfb label{
color:#fff;
cursor:pointer;
display:block;
font-size:26px;
margin: 0;
padding:9px;
padding-left:80px;
position:absolute;
z-index:999;
}
#Monelogo{
background:#fff;
/*border-radius*/
-webkit-border-radius:30px;
   -moz-border-radius:30px;
        border-radius:30px;
height:60px;
left:3px;
margin:0;
position:relative;
top:4.5px;
width:60px;
z-index:100;
}
#Monelogo img{
height:45px;
margin:0;
padding:9px;
width:40px;
}
#Monetitulo{
height:65px;
left:70px;
margin:0;
position:absolute;
top:2.2px;
width:310px;
}
#Monetitulo h1{
color:#F5F5F5;
font-family:'Uncial Antiqua', cursive;
font-size:40px;
margin-left:10%;
margin-top:-5px;
padding:0;
}
#Monetitulo h1 span{
font-size:60px;
margin:0;
padding:0;
}
#Mtwo{
float:left;
height:400px;
margin:3%;
padding:0;
position:relative;
width:30%;
}
#MtwoLetras{
height:10%;
margin:0;
padding:0;
text-align:center;
width:100%;
}
#MtwoLetras span{
color:#000;
font-family:'Uncial Antiqua', cursive;
margin:0;
padding:0;
}
#MtwoLetras span b{
color:#ee6623;
text-shadow:0 1px 0 #6b090e, 0 -1px 0 #6b090e, 1px 0 0 #6b090e, -1px 0 0 #6b090e;
}
#MtwoLogo{
height:60%;
margin:0 auto;
padding:0;
text-align:center;
width:64%;
}
#MtwoLogo #logo{
position:relative;
top:80px;
}
#MtwoLogo #logo-a{
color:#fff;
cursor:pointer;
display:block;
font-family:'Rye', cursive;
font-size:95px;
margin-left:24px;
margin-top:0px;
position:absolute;
/*transform*/
-webkit-transform:rotate(135deg);
   -moz-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
     -o-transform:rotate(135deg);
        transform:rotate(135deg);
text-align:center;
text-shadow:1px 1px #efefef, -1px -2px #2f2f2f;
text-transform:uppercase;
}
#MtwoLogo #wrap{
height:100px;
margin:0px auto;
width:100px;
/*transform*/
-webkit-transform:rotate(-135deg);
   -moz-transform:rotate(-135deg);
    -ms-transform:rotate(-135deg);
     -o-transform:rotate(-135deg);
        transform:rotate(-135deg);
/* moved original rotate to here to stop animation messing up */
:;
}
#MtwoLogo #A{
background:transparent;
display:block;
height:110px;
position:absolute;
width:110px;
/*border-radius*/
-webkit-border-radius:20px 30000px 20000px;
   -moz-border-radius:20px 30000px 20000px;
        border-radius:20px 30000px 20000px;
/*box-shadow*/
-webkit-box-shadow:-20px -20px 30px rgba(0,0,0,.3);
   -moz-box-shadow:-20px -20px 30px rgba(0,0,0,.3);
        box-shadow:-20px -20px 30px rgba(0,0,0,.3);
/*transition*/
-webkit-transition:all 1s ease-in-out;
   -moz-transition:all 1s ease-in-out;
     -o-transition:all 1s ease-in-out;
        transition:all 1s ease-in-out;
}
#MtwoLogo #A:before{
background:#000 url(http://mjplay-v.16mb.com/imagenes/fondos/fondoJ.png);
content:'';
display:block;
height:95px;
margin:25px;
position:absolute;
width:101px;
/*border-radius*/
-webkit-border-radius:100px / 50px;
   -moz-border-radius:100px / 50px;
        border-radius:100px / 50px;
border-top:solid 5px #666;
/*transform*/
-webkit-transform:rotate(135deg);
   -moz-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
     -o-transform:rotate(135deg);
        transform:rotate(135deg);
}
#MtwoLogo #A:after{
background:#000 url(http://mjplay-v.16mb.com/imagenes/fondos/fondoJ.png);
content:'';
display:block;
height:109.5px;
margin-left:.5px;
margin-top:.5px;
width:109.5px;
/*border-radius*/
-webkit-border-radius:20px 30000px 20000px;
   -moz-border-radius:20px 30000px 20000px;
        border-radius:20px 30000px 20000px;
}
#MtwoLogo #A:hover{
margin:-20px;
/*box-shadow*/
-webkit-box-shadow:-4px -4px 20px rgba(0,0,0,.6);
   -moz-box-shadow:-4px -4px 20px rgba(0,0,0,.6);
        box-shadow:-4px -4px 20px rgba(0,0,0,.6);
}
#MtwoRedes{
height:30%;
margin-top:-20px;
margin:0;
padding:0;
position:absolute;
width:100%;
}
#MtwoRedes .button{
height:50px;
text-align:center;
width:110px;
}
#MtwoRedes .button img{
width:42px;
}
#MtwoRedes #plus a,
#MtwoRedes #twitter a,
#MtwoRedes #face a{
color:#fff;
padding-bottom:11px;
padding-right:20px;
padding-top:9.5px;
position:relative;
z-index:0;
}
#MtwoRedes #face a{
background:#4258D7;
}
#MtwoRedes #plus a{
background:#D62A2A;
}
#MtwoRedes #twitter a{
background:#42BAD7;
padding-right:15px;
}
#MtwoRedes #plus a:before, 
#MtwoRedes #twitter a:before,
#MtwoRedes #face a:before{
border-bottom:20px solid transparent;
border-top:20px solid transparent;
content:"";
left:-19px;
position:absolute;
top:-1px;
z-index:0;
}
#MtwoRedes #face a:before{
border-right:20px solid #4258D7;
}
#MtwoRedes #plus a:before{
border-right:20px solid #D62A2A;
}
#MtwoRedes #twitter a:before{
border-right:20px solid #42BAD7;
}
#MtwoRedes #plus a:after,
#MtwoRedes #twitter a:after,
#MtwoRedes #face a:after{
border-bottom:20px solid transparent;
border-top:20px solid transparent;
content:"";
position:absolute;
right:-20px;
top:-1px;
z-index:0;
}
#MtwoRedes #face a:after{
border-left:20px solid #4258D7;
}
#MtwoRedes #plus a:after{
border-left:20px solid #D62A2A;
}
#MtwoRedes #twitter a:after{
border-left:20px solid #42BAD7;
}
#MtwoRedes #pl:hover,
#MtwoRedes #tw:hover,
#MtwoRedes #fb:hover{
opacity:1;
}
#MtwoRedes #face{
float:left;
position:relative;
}
#MtwoRedes #twitter{
float:right;
position:relative;
}
#MtwoRedes #plus{
margin:70px auto;
position:relative;
}
#MtwoRedes #fb{
background:#4258D7;
left:-4px;
}
#MtwoRedes #pl{
background:#D62A2A;
left:35px;
width:70px;
}
#MtwoRedes #tw{
background:#42BAD7;
left:7px;
}
#MtwoRedes #pl, 
#MtwoRedes #tw,
#MtwoRedes #fb{
opacity:0;
padding:0;
position:relative;
top:-20px;
}
#Mthree{
float:right;
height:400px;
margin:3%;
padding:0;
position:relative;
width:57%;
}
#Mfour{
height:100px;
margin:0 auto;
padding:0;
position:absolute;
text-align:center;
top:550px;
width:90%;
}
#Mfour .bbuton{
display:inline-block;
height:100%;
margin:10px;
padding:0;
position:relative;
width:25%;
}
#Mfour #background{
background:#666666;
height:75px;
margin:10px auto;
position:relative;
width:60%;
z-index:0;
}
#Mfour #background:before{
border-bottom:40px solid transparent;
border-right:40px solid #666666;
border-top:35px solid transparent;
content:"";
left:-40px;
position:absolute;
top:0px;
z-index:0;
}
#Mfour #background:after{
border-bottom:40px solid transparent;
border-left:40px solid #666666;
border-top:35px solid transparent;
content:"";
position:absolute;
right:-40px;
}
#Mfour #fonl{
background:#666666;
height:40px;
left:-40px;
position:absolute;
top:35px;
width:100%;
}
#Mfour #fonl span{
background:#fff;
/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
bottom:0;
height:5px;
left:5px;
margin:10px 5px;
position:absolute;
width:5px;
}
#Mfour #fonr{
background:#666666;
height:35px;
position:absolute;
right:-40px;
width:100%;
}
#Mfour #fonr span{
background:#fff;
/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
height:5px;
margin:4px;
position:absolute;
right:5px;
top:5px;
width:5px;
z-index:999;
}
#Mfour a{
color:#fff;
text-decoration:none;
}
#Mfour a p{
font-family:'Uncial Antiqua', cursive;
font-size:23px;
margin:5px;
padding:0px;
position:absolute;
z-index:999;
}
#Mfour a:hover #fonl,  
#Mfour a:hover #fonr,
#Mfour a:hover #background{
background:#222;
}
#Mfour a:hover #background:after{
border-left:40px solid #222;
}
#Mfour a:hover #background:before{
border-right:40px solid #222;
}
#Mfour #bfour a:hover #fonl,  
#Mfour #bfour a:hover #fonr,
#Mfour #bfour a:hover #background{
background:#483;
}
#Mfour #bfour a:hover #background:after{
border-left:40px solid #483;
}
#Mfour #bfour a:hover #background:before{
border-right:40px solid #483;
}
#Mfour #bthree a:hover #fonl,  
#Mfour #bthree a:hover #fonr,
#Mfour #bthree a:hover #background{
background:#349;
}
#Mfour #bthree a:hover #background:after{
border-left:40px solid #349;
}
#Mfour #bthree a:hover #background:before{
border-right:40px solid #349;
}
#Mfour #btwo a:hover #fonl,  
#Mfour #btwo a:hover #fonr,
#Mfour #btwo a:hover #background{
background:#E6C91F;
}
#Mfour #btwo a:hover #background:after{
border-left:40px solid #E6C91F;
}
#Mfour #btwo a:hover #background:before{
border-right:40px solid #E6C91F;
}
#Mfour #bone a:hover #fonl,  
#Mfour #bone a:hover #fonr,
#Mfour #bone a:hover #background{
background:#FF9E00;
}
#Mfour #bone a:hover #background:after{
border-left:40px solid #FF9E00;
}
#Mfour #bone a:hover #background:before{
border-right:40px solid #FF9E00;
}
#Mfour #QS a:hover #fonl,  
#Mfour #QS a:hover #fonr,
#Mfour #QS a:hover #background{
background:#822;
}
#Mfour #QS a:hover #background:after{
border-left:40px solid #822;
}
#Mfour #QS a:hover #background:before{
border-right:40px solid #822;
}
#Mfour #bfour a p{
font-size:23px;
margin-left:-15px;
}
#MUP{
margin:0;
padding:0px;
position:relative;
top:700px;
}
#MUP p{
color:#F5F5F5;
font-family:'Uncial Antiqua', cursive;
font-size:16px;
margin:0;
padding-left:40px;
padding-right:200px;
padding-top:30px;
position:absolute;
top:0;
z-index:99;
}
#MUP p a{
color:#fff;
}
#MUP p em{
font-size:40px;
left:18px;
position:absolute;
top:15px;
}
#MUP #cuerpp{
background:#222;
height:57px;
margin:100px auto;
position:relative;
width:90%;
z-index:0;
}
#MUP #cuerpp:before{
border-bottom:58px solid #222;
border-left:80px solid transparent;
content:"";
left:-80px;
position:absolute;
top:-1px;
z-index:0;
}
#MUP #cuerpp:after{
border-bottom:58px solid #222;
border-right:80px solid transparent;
bottom:0px;
content:"";
position:absolute;
right:-80px;
}
#MUP #ponebar{
background:#222;
height:57px;
margin:0px auto;
margin-top:-100px;
position:relative;
width:90%;
z-index:0;
}
#MUP #ponebar:after{
bottom:0px;
border-right:80px solid transparent;
border-top:58px solid #222;
content:"";
position:absolute;
right:-80px;
}
#MUP #ponebar:before{
border-left:80px solid transparent;
border-top:58px solid #222;
content:"";
left:-80px;
position:absolute;
top:0px;
z-index:0;
}
#MUP #img{
float:right;
height:50px;
margin-top:-340px;
position:relative;
top:0;
width:200px;
z-index:999;
}
#MUP #img img{
opacity:0.5;
}
#MUP #img img:hover{
opacity:1;
}
#MUP #img #mj img{
width:30%;
height:100%;
float:left;
}
#MUP #img #ap img{
width:60%;
height:100%;
}
#style-1::-webkit-scrollbar-track{
background-color:#F5F5F5;
/*box-shadow*/
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
   -moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
}
#style-1::-webkit-scrollbar{
background-color:#F5F5F5;
width:12px;
}
#style-1::-webkit-scrollbar-thumb{
background-color:#555;
/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
/*box-shadow*/
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
   -moz-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
        box-shadow:inset 0 0 6px rgba(0,0,0,.3);
}
.inset{
padding:20px;
border-top:1px solid #19191a;
vertical-align:top;
}
.p-container{
padding:0 20px 20px 20px;
}
.p-container:after{
clear:both;
content:"";
display:table;
}
.p-container span{
display:block;
float:left;
color:#0d93ff;
padding-top:8px;
}
@media screen and (max-width: 1280px){
#MtwoLetras span{
font-size:42px;
}
}
@media screen and (max-width: 1200px){
#MtwoLetras span{
font-size:35px;
}
}
@media screen and (max-width: 1000px){
#MtwoLetras span{
font-size:30px;
}
#MtwoRedes #face{
margin-left:-15px;
}
#MtwoRedes #twitter{
margin-right:-15px;
}
#MUP #img{
margin-top:-320px;
}
}
@media screen and (max-width: 900px){
#MtwoLetras span{
font-size:28px;
}
#MtwoRedes #face{
margin-left:-35px;
}
#MtwoRedes #twitter{
margin-right:-35px;
}
#Mfour a p{
margin-left:-10px;
font-size:22px;
}
#Mfour #bfour a p{
font-size:21px;
margin-left:-15px;
}
}
@media screen and (max-width: 800px){
body{
width:800px;
}
#MtwoLetras span{
font-size:31px;
}
#MtwoRedes #face{
margin-left:-15px;
}
#MtwoRedes #twitter{
margin-right:-15px;
}
#Mfour{
width:800px;
}
}
@media screen and (min-width: 1280px){
/*1280*/
body{
width:1280px;
}
#Mone{
margin-left:-20px;
width:1320px;
}
#MtwoLetras span{
font-size:50px;
}
}
